
#map {
  height: 70%;
  width: 90%;
  margin: auto;
  border: 6px solid #C2EABA;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#homenav,
#routenav,
a {
  display: block;
  float: left;
  text-align: center;
  background-color: white;
  text-decoration: none;
  overflow: hidden;
}

#homenav {
  height: 5%;
  width: 10%;
  border: 6px solid #FF5A5F;
  font-size: 150%;
  margin: 1%;
}

#routenav {
  height: 5%;
  width: 10%;
  border: 6px solid #5398BE;
  font-size: 150%;
  margin: 1%;
}

#homenav:hover,
#routenav:hover,
a:hover {
  background-color: lightgray;
}

a {
  height: 100%;
  width: 100%;
  padding: 2%;
}

#homelink {
  color: #FF5A5F;
}

#routelink {
  color: #5398BE;
}
