
/* layout of the entire page */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("/static/images/body_background.png");
  background-size: 100%;
  background-position:top left;
  background-repeat: no-repeat;
  color:black;
  font-family: 'Lato', sans-serif;
  }

/* logo size and position */
#logo{
    margin-top: 3rem;
    padding: 3rem;
    height: 6rem;
    margin: -2rem 0 0 2rem;
}

/* positioning and styling the navigation links */
#homenav,
#infonav,
#routenav {
  display: block;
  text-align: right;
  float: right;
  background-color: none;
  height:1rem;
  color: purple;
  overflow: hidden;
  padding: 2rem 2rem 0 1rem;*/
}

/* link style consistent */
#homelink, #infolink{
    color:#34166d;
    font-size: 1rem;
    text-decoration: none;
}

/* link style hover behaviour, changes colour */
#homelink > a,
#infolink > a,
#routelink > a{
    color:white;
    text-decoration: none;
}

#homenav > a:hover, #infonav > a:hover, #routenav > a:hover{
    color:#ff9632;
}

.select_instruct{
    color:black;
}

/* dropdown label style for the station select */
.journey_text{
    color:white;
    margin-left:3rem;
    margin-right:2rem;
}

.journey_text>h1{
    color:#ff8872;
    text-shadow: 1.5px 1.5px black;
}

.instruc_map{
    display: flex;
}

/* styling the div for the station dropdowns */
.journey_dropdown{
    margin-top:2rem;
    margin-left:2rem;
    margin-bottom:0;
    color:black;
    font-weight:bold;
    font-size:150%;
    border-radius:.5rem;
}

/* size and position for instruction div */
.instruc_div{
    width:25%;
    margin: 0 4% 0 0;
}

#day_select {
    float: right;
}

#time_select {
    float: right;
}

/* positioning and styling the route recommend button */
#route_button {
    margin: 0 30%;
    padding: 5px 10px;
    border-radius: 10px;
}

/* styling the instructions box */
.instructions{
    width:100%;
    color:white;
    text-shadow: 1.5px 1.5px black;
    margin:4rem;
    font-size:1.25rem;
    padding: 1% 5%;
    background-color: rgba(190, 144, 212, 0.3);
    border-radius: 10px;
}

/* hovering over the dropdowns change their colour */
#day_select:hover {
    box-shadow: 0 0 10px 100px purple inset;
    background-color:#4e2a94;
    color:white;
}

#time_select:hover {
    box-shadow: 0 0 10px 100px purple inset;
    background-color:#4e2a94;
    color:white;
}

/* changing colour of the route recommend button */
/*#route_button:hover {
    box-shadow: 0 0 10px 100px purple inset;
    background-color:#4e2a94;
    color:white;
}*/

#route_button{
border-radius:2em;
    display:inline-block;
    padding:1em 3.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    border: #3e4cb5;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#3e4cb5;
    text-align:center;
    transition: all 0.2s;
    }

 #route_button:hover{
    background-color:grey;
 }

/* position and style of station selection box */
.journey_dropdown {
    text-align: center;
    width: 73%;
    margin-left:23rem;
    background-color: rgba(190, 144, 212, 0.3);
    border-radius: 10px;
    text-decoration:none;
    padding: 4px 0;
    color:white;
    text-shadow: 1.5px 1.5px black;
}

.journey_dropdown>select:hover, #jdspace>select:hover {
    box-shadow: 0 0 10px 100px purple inset;
    background-color:#4e2a94;
    color:white;
    text-decoration:none;
}

/* putting space between the dropdowns */
#jdspace {
 /* padding: 0 10px 0 500px;
  float: left;*/
}

#start{
    font-weight:bold;
    margin-left:0rem;
}

#dest{
    font-weight:bold;
    margin-left:0rem;
}

/* styling the map div */
#map {
  height: 50%;
  width: 95%;
  margin: 2rem 3rem 1rem 3rem;
  border: 6px solid z;
  border-radius:.5em;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

