<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Bike Curious Homepage - In Development</title>
  <meta name="description" content="index.html">
  <meta name="author" content="BikeCurious">

  <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script type="text/javascript">

        function initCharts(){
            // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(initMap);
        }
      
   </script>
    
</head>

<body>
  <!-- divs for page navigation -->
  <div id="navigation">
    <div id="homenav">
      <a id="homelink" href="{{ url_for('homepage') }}">Home</a>
    </div>

    <div id="routenav">
      <a id="routelink" href="{{ url_for('route_planner') }}">Route Planner</a>
    </div>
  </div>


  <div id="map"></div>
  <div id="chart1"><canvas id="canvasWeek"></canvas></div>
    <div id="chart2"> <canvas id="canvasHour"></canvas></div>
    
    
<script>
let map;

function initMap() {

  // fetching the static data
  fetch("/stations").then(response => {
      return response.json();
      }).then(data => {
      console.log("data ", data);

  // fetching the available bikes data
  fetch("/bikes").then(bikeResponse => {
      return bikeResponse.json();
      }).then(bikeData => {
      console.log("bikeData ", bikeData);


  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: 53.349804, lng: -6.260310 },
    zoom: 13,
    });

  // iterating over each station
  data.forEach(station => {

    var contentString;
    // iterating over the availability data and building the content for the info window
    bikeData.forEach(bikeStation => {
      if (station.name == bikeStation.StationName) {
        contentString = `${bikeStation.StationName} Avail Stands: ${bikeStation.AvailableBikeStands} Avail Bikes: ${bikeStation.AvailableBikes}`;
        }
      });

    // info window for each marker
    const infowindow = new google.maps.InfoWindow({
      content: contentString,
    });

    // adding the markers
    const marker = new google.maps.Marker({
      position: { lat: parseFloat(station.latitude), lng: parseFloat(station.longitude) },
      map: map,
    });

    // event handler for click
    marker.addListener("click", () => {
      infowindow.open(map, marker);
        chartWeekly(station.number);
        console.log('now to chart hourly with' + station.number);
        chartHourly(station.number);
    });
  });

    }).catch(err => {
      console.log("OOPS!", err);
  });
  });
}

function getDayString(number){
        
        var DaysOfWeek = new Array(7);
        DaysOfWeek[0] = "Sunday";
        DaysOfWeek[1] = "Monday";
        DaysOfWeek[2] = "Tuesday";
        DaysOfWeek[3] = "Wednesday";
        DaysOfWeek[4] = "Thursday";
        DaysOfWeek[5] = "Friday";
        DaysOfWeek[6] = "Saturday";
        
        return DaysOfWeek[number];
}

function chartWeekly(StationNumber){
    // Called when user clicks on marker
    // Draws charts at bottom of page
    fetch("/chartW/" + StationNumber).then(response => {
        return response.json();
    }).then(data =>{
            console.log(data);
            
        // Chartist
        // Set up lists to capture bikes & days
        var days = [];
        var bikes = [];
        data.forEach(x => {
            days.push(x.DayOfWeek); 
            bikes.push(x.AvailableBikes);
        })
        // Get the string for each day from its int value
        days.forEach((value, index) => {
            days[index] = getDayString(value);
        })
        console.log(days);
        console.log(bikes);
        // Draw chart
        var ctx = document.getElementById("canvasHour").getContext('2d');
        var canvas = new Chart(ctx, {
            type: 'bar',
            
            data: {
                labels: days,
                datasets: [{
                    label: "Daily Average Availability",
                    backgroundColor: 'rgb(102, 179, 255)',
                    borderColor: 'rgb(0, 128, 128)',
                    data: bikes
                }]
            },
            
            options: {
                legend: {
                    display: true,
                    labels: {
                        fontColor: 'rgb(255, 99, 132)'
                    }
                }
            }
            
        });
    
    });
}
    
function chartHourly(StationNumber){
        // Called when user clicks on marker
    // Draws charts at bottom of page
    fetch("/chartH/" + StationNumber).then(response => {
        return response.json();
    }).then(data =>{
            console.log(data);
    
        // Chartist
        var today = new Date();
        var todayNum = today.getDay();
        //Calls getDayString to return word for day of week
        var dayString = getDayString(todayNum);
        
        // Set up lists to catch hours & bikes
        // Will be formatted in such a way as to work 'round the bend', i.e. excluding our downtime 1-6am
        var lateHours = [];
        var earlyHours = [];
        var lateBikes = [];
        var earlyBikes = []
        data.forEach(x => {
         if (x.Hour <= 1){
             earlyHours.push(x.Hour);
             earlyBikes.push(x.AvailableBikes);
        }else if (x.Hour > 1 && x.Hour < 6){
            }
            //pass
            else{
            lateHours.push(x.Hour); 
            lateBikes.push(x.AvailableBikes);
            }
        })
        // finalize variables into hours and bikes in right order
        var hours = lateHours.concat(earlyHours);
        var bikes = lateBikes.concat(earlyBikes);
        console.log(hours);
        console.log(bikes);
        // Chartist draw
        var ctx = document.getElementById("canvasWeek").getContext('2d');
        var canvas = new Chart(ctx, {
            type: 'line',
            
            data: {
                labels: hours,
                datasets: [{
                    label: "Average Bike Availability on a " + dayString,
                    backgroundColor: 'rgb(102, 179, 255)',
                    borderColor: 'rgb(0, 128, 128)',
                    data: bikes
                }]
            },
            
            options: {
                
                legend: {
                    display: true,
                    labels: {
                        fontColor: 'rgb(255, 99, 132)'
                    }
                }
            }
            
        });
    
    });
    
}
  </script>

 <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNMDKUUBsPVblrArwU5AIKEt8ZirRosf4&callback=initCharts&libraries=&v=weekly"
      async>
</script>

</body>
</html>