<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Bike Curious Homepage - In Development</title>
  <meta name="description" content="index.html">
  <meta name="author" content="BikeCurious">

  <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css">

    
</head>

<body>
  <!-- divs for page navigation -->
  <div id="navigation">
      <img id="logo" src="static/images/white_grey_dublinbikes.png">

    <div id="homenav">
      <a id="homelink" href="{{ url_for('homepage') }}">Home</a>
    </div>

    <div id="infonav">
      <a id="infolink" href="{{ url_for('info_page') }}">Stations</a>
    </div>

    <div id="routenav">
      <a id="routelink" href="{{ url_for('route_planner') }}">Start your journey</a>
    </div>
  </div>

  <header class="header">
      <section class="hero-header-text">
    <h1>Explore Dublin's Fair City</h1>
    <h2>By Bike</h2>
      </section>
  </header>

</body>
</html>