<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Curious Bikes</title>
    <link rel="icon" href="static/images/bike.png" type="image/png">

    <link href="{{ url_for('static', filename='routestyle.css') }}" type="text/css" rel="stylesheet">
</head>
<body>

<!-- divs for page navigation -->
<div id="navigation">
    <a href="/"><img id="logo" src="static/images/white_grey_dublinbikes.png"></a>
  <div id="homenav">
    <a id="homelink" href="{{ url_for('homepage') }}">Home</a>
  </div>

  <div id="infonav">
      <a id="infolink" href="{{ url_for('info_page') }}">Stations</a>
  </div>

</div>

<!-- div for the header and station selection -->
<div class="journey_text">
<h1>Journey Recommender System - Plan your trip!</h1>

<!-- div for station selection -->
<div class="journey_dropdown">

    <!-- div to put space between the dropdowns -->
    <div id="jdspace">
<label for="start">Departure Address:</label>
<select id="start"></select>
        </div>

<label for="dest">Destination Address:</label>
<select id="dest"></select>
        </div>

</div>

<!-- divs for the instructions and map -->
<div class="instruc_map">
    <div class="instruc_div">


        <!-- div to display the instructions in a box -->
        <div class="instructions">
            <p><b>Find Your Best Route:</b></p>

            <p>1. Choose a day:
            <select id="day_select" onchange="timeChange()">
              <option value="0">Today</option>
              <option value="1">Tomorrow</option>
            </select></p>

            <!-- time dropdown filled in by js function below -->
            <p>2. Choose departure time:
            <select id="time_select"></select></p>

            <p>3. Double click to choose your starting point.</p>
            <p>4. Double click again to choose your destination.</p>

            <!-- js function to calculate best route runs when button is clicked -->
            <p>5. Click "Recommend Route" for the best route available!</p>
            <button id="route_button" onclick="recStations()">Recommend Route</button><br><br>
            <p style="font-size: 0.8rem;">*Routes are selected based on bike and bike stand availability at each station.</p>
        </div>


    </div>


    <div id="map" style="height: 592px"></div>

    </div>

<br><br>





<script>

// function to make time dropdown contain only present and future hours
function timeChange() {
  var d1 = new Date();
  var hourNow = d1.getHours();
  var daySelected = document.getElementById("day_select").value;
  var outHours = "";

  // if the day is today, check the hour and fill in time dropdown appropriately
  if (daySelected == 0) {
    if (hourNow >= 6) {
      for (var i=hourNow; i<24; i++) {
        outHours += "<option value='" + i + "'>" + i + ":00</option>";
      }
    } else {
      for (var j=6; j<24; j++) {
        outHours += "<option value='" + j + "'>" + j + ":00</option>";
      }
    }

  // if the day is tomorrow, fill in time dropdown fully
  } else {
    for (var j=6; j<24; j++) {
        outHours += "<option value='" + j + "'>" + j + ":00</option>";
    }
  }
  document.getElementById("time_select").innerHTML = outHours;
}

timeChange();



function loadFunction() {
  alert("Page is loaded");
}

// defining global variables for the various functions below which share them
let map;
let markerArray = [];
let closestFive = [];
let closestFive2 = [];
let closestFiveStatNums = [];
let closestFiveStatNums2 = [];
let firstFive = [];
let firstFive2 = [];
let chosenStations = [];
let directionsService;
let directionsRenderer;


// gets called when page loads
function initMap() {

  // variables to retrieve and render directions from the API
  directionsService = new google.maps.DirectionsService;
  directionsRenderer = new google.maps.DirectionsRenderer;

  // fetching the static data
  fetch("/stations").then(response => {
      return response.json();
      }).then(data => {
      console.log("data ", data);

  // setting the map
  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: 53.349804, lng: -6.260310 },
    zoom: 13,
    disableDoubleClickZoom: true,
    });
    directionsRenderer.setMap(map);



  // listener for double click on map
  map.addListener("dblclick", (e) => {
    if (markerArray.length == 0) {
      const newMarker = new google.maps.Marker({
        position: e.latLng,
        map: map,
        icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
      });
      // add marker to the marker array
      markerArray.push(newMarker);
    } else if (markerArray.length == 1) {
      const newMarker = new google.maps.Marker({
        position: e.latLng,
        map: map,
        icon: 'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png',
      });
      // add marker to the marker array
      markerArray.push(newMarker);
    } else {
      resetMarkers();
    }
  });

  // called when the stations dropdowns are changed, displays the directions between the selected stations
  var onChange = function() {
    displayRoute(directionsService, directionsRenderer);
  };
  document.getElementById("start").addEventListener('change', onChange);
  document.getElementById("dest").addEventListener('change', onChange);

  var stationsList = "";

  // iterating over each station
  data.forEach(station => {
    stationsList += "<option value='" + station.latitude + "," + station.longitude + "'>" + station.address + "</option>";
    });

  // filling in the stations drop downs
  document.getElementById("start").innerHTML = stationsList;
  document.getElementById("dest").innerHTML = stationsList;

  // iterating over each station
  data.forEach(station => {

    // adding the markers
    const marker = new google.maps.Marker({
      position: { lat: parseFloat(station.latitude), lng: parseFloat(station.longitude) },
      map: map,
      icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
    });
    });

   });
}


// function to reset start and end markers
function resetMarkers() {
  var numMarkers = markerArray.length;
  if (numMarkers > 0) {
    for (var i=0; i < numMarkers; i++) {
      markerArray[i].setMap(null);
    }
    markerArray = [];
  }
}


// function to calculate the recommended route and display it on the map
function recStations() {

// nothing happens unless two markers are placed by the user
if (markerArray.length == 2) {
  var count = 0;

  // setting up input variables for the models
  var d = new Date();
  var dayIn = (parseInt(document.getElementById("day_select").value) + d.getDay() + 6) % 7;
  var hourIn = parseInt(document.getElementById("time_select").value);

  // resetting variables for the calculations
  var allMarks = [];
  var allStatNums = [];
  chosenStations = [];
  var chosenStat;
  var chosenStat2;

  // fetching the static data
  fetch("/stations").then(response => {
      return response.json();
      }).then(data => {
      console.log("data ", data);

    // iterating over each station
    data.forEach(station => {

    // adding the markers
    const marker = new google.maps.Marker({
      position: { lat: parseFloat(station.latitude), lng: parseFloat(station.longitude) },
    });

    allMarks.push(marker);
    allStatNums.push(station.number);
    });


    closestFive = [];
    closestFiveStatNums = [];
    var closestDists = [];
    var allDists = [];

    // calculating the distance between the selected marker and each station marker
    for (var j=0; j<allMarks.length; j++) {
      var dist = google.maps.geometry.spherical.computeDistanceBetween(markerArray[0].position, allMarks[j].position);
      allDists.push(dist);
    }

    // determining the closest five stations to the selected marker
    for (var h=0; h<5; h++) {
      closestFive.push(allMarks[h]);
      closestFiveStatNums.push(allStatNums[h]);
      closestDists.push(allDists[h]);
    }
    for (var k=5; k<allDists.length; k++) {
      if (allDists[k] < Math.max(...closestDists)) {
        closestFive.splice(closestDists.indexOf(Math.max(...closestDists)), 1);
        closestFive.push(allMarks[k]);
        closestFiveStatNums.splice(closestDists.indexOf(Math.max(...closestDists)), 1);
        closestFiveStatNums.push(allStatNums[k]);
        closestDists.splice(closestDists.indexOf(Math.max(...closestDists)), 1);
        closestDists.push(allDists[k]);
      }
    }



    closestFive2 = [];
    closestFiveStatNums2 = [];
    var closestDists2 = [];
    var allDists2 = [];

    // calculating the distance between the selected marker and each station marker
    for (var j=0; j<allMarks.length; j++) {
      var dist2 = google.maps.geometry.spherical.computeDistanceBetween(markerArray[1].position, allMarks[j].position);
      allDists2.push(dist2);
    }

    // determining the closest five stations to the selected marker
    for (var h=0; h<5; h++) {
      closestFive2.push(allMarks[h]);
      closestFiveStatNums2.push(allStatNums[h]);
      closestDists2.push(allDists2[h]);
    }
    for (var k=5; k<allDists2.length; k++) {
      if (allDists2[k] < Math.max(...closestDists2)) {
        closestFive2.splice(closestDists2.indexOf(Math.max(...closestDists2)), 1);
        closestFive2.push(allMarks[k]);
        closestFiveStatNums2.splice(closestDists2.indexOf(Math.max(...closestDists2)), 1);
        closestFiveStatNums2.push(allStatNums[k]);
        closestDists2.splice(closestDists2.indexOf(Math.max(...closestDists2)), 1);
        closestDists2.push(allDists2[k]);
      }
    }

    // calling async function to fetch the predicted numbers from the model and return the indexes of the best stations
    fetchPredBikes(closestFiveStatNums, closestFiveStatNums2, dayIn, hourIn).then(ans => {
      chosenStat = closestFive[ans[0]];
      chosenStat2 = closestFive2[ans[1]];
      chosenStations.push(chosenStat);
      chosenStations.push(chosenStat2);
      displayRecRoute(directionsService, directionsRenderer, chosenStations);
    });
    if (count == 0) {
      firstFive = closestFive;
    }
    count++;
  });
}
}


// async function to get predicted bikes and stands, return indexes for largest predicted bikes/stands
async function fetchPredBikes(numArray, numArray2, day, hour) {
  // fetching all of the predicted numbers at the same time and waiting for the promise back
  const [first, second, third, fourth, fifth, first2, second2, third2, fourth2, fifth2] = await Promise.all([
    fetch("/predictBikes/" + numArray[0] + "/" + day + "/" + hour),
    fetch("/predictBikes/" + numArray[1] + "/" + day + "/" + hour),
    fetch("/predictBikes/" + numArray[2] + "/" + day + "/" + hour),
    fetch("/predictBikes/" + numArray[3] + "/" + day + "/" + hour),
    fetch("/predictBikes/" + numArray[4] + "/" + day + "/" + hour),
    fetch("/predictStands/" + numArray2[0] + "/" + day + "/" + hour),
    fetch("/predictStands/" + numArray2[1] + "/" + day + "/" + hour),
    fetch("/predictStands/" + numArray2[2] + "/" + day + "/" + hour),
    fetch("/predictStands/" + numArray2[3] + "/" + day + "/" + hour),
    fetch("/predictStands/" + numArray2[4] + "/" + day + "/" + hour),
  ]);

  // pulling the numbers from the response
  const firstNum = await first.text();
  const secondNum = await second.text();
  const thirdNum = await third.text();
  const fourthNum = await fourth.text();
  const fifthNum = await fifth.text();
  const firstNum2 = await first2.text();
  const secondNum2 = await second2.text();
  const thirdNum2 = await third2.text();
  const fourthNum2 = await fourth2.text();
  const fifthNum2 = await fifth2.text();

  // parsing the numbers and storing them in arrays
  const predArray = [parseFloat(firstNum), parseFloat(secondNum), parseFloat(thirdNum), parseFloat(fourthNum), parseFloat(fifthNum)];
  const predArray2 = [parseFloat(firstNum2), parseFloat(secondNum2), parseFloat(thirdNum2), parseFloat(fourthNum2), parseFloat(fifthNum2)];

  // determining the largest prediction numbers
  var largestIndex = 0;
  for (var q=0; q<5; q++) {
    if (predArray[q]>predArray[largestIndex]) {
      largestIndex = q;
    }
  }
  var largestIndex2 = 0;
  for (var p=0; p<5; p++) {
    if (predArray2[p]>predArray2[largestIndex]) {
      largestIndex2 = p;
    }
  }
  // returning the indexes of the largest numbers
  var outArray = [largestIndex, largestIndex2];
  return outArray;
}



// function to display the selected route on the map
function displayRoute(directionsService, directionsRenderer) {
    var startPos = document.getElementById("start").value;
    var destPos = document.getElementById("dest").value;

    directionsService.route({
      origin: startPos,
      destination: destPos,
      travelMode: 'BICYCLING'
    }, function(response, status) {
      if (status === 'OK') {
        directionsRenderer.setDirections(response);
      } else {
        window.alert('Oops, ' + status);
      }
    });
}


// function to display the recommended route on the map
function displayRecRoute(directionsService, directionsRenderer, chosenStations) {
  var recStart = chosenStations[0].position;
  var recDest = chosenStations[1].position;

  directionsService.route({
      origin: recStart,
      destination: recDest,
      travelMode: 'BICYCLING'
    }, function(response, status) {
      if (status === 'OK') {
        directionsRenderer.setDirections(response);
      } else {
        window.alert('Oops, ' + status);
      }
    });
}

</script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoy1x8NH5BZFhA86GFgJk7tFyrnPhGbhw&map_ids=ceb62d3e5dc52a3&callback=initMap&libraries=&v=weekly"
      async>
</script>


</body>
</html>