<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bike Curious Route Planner - In Development</title>

    <link href="{{ url_for('static', filename='routestyle.css') }}" type="text/css" rel="stylesheet">
</head>
<body>

<!-- divs for page navigation -->
<div id="navigation">
  <img id="logo" src="static/images/white_grey_dublinbikes.png">
  <div id="homenav">
    <a id="homelink" href="{{ url_for('homepage') }}">Home</a>
  </div>

  <div id="infonav">
      <a id="infolink" href="{{ url_for('info_page') }}">Stations</a>
  </div>

<!--  <div id="routenav">-->
<!--    <a id="routelink" href="{{ url_for('route_planner') }}">Route Planner</a>-->
<!--  </div>-->
</div>

<div class="journey_text">
<h1>Journey Recommender System - Plan your trip!</h1>
<!--<p>Tired of leaving the house late - only to find there are no bikes or spaces left at your station?<br>
Let our recommender system make life a little easier for you!<br><br>
    Enter your departure and arrival details - our system takes care of the rest.<br>
    We will calculate the nearest station with the best available bikes.</p>-->

<h3>Select your start and end point to begin:</h3>

</div>


<div class="journey_selection">
    <div class="journey_dropdowns">
  <div class="journey_dropdown">
<label for="start">Departure Address:</label>
<select id="start"></select>
      </div>

    <div class="journey_dropdown">
<label for="dest">Destination Address:</label>
<select id="dest"></select>
        </div>


        <div class="instructions">
    <p>How to use:</p>
            <p>Step 1: </p>
            <p>Step 2:</p>
            <p>Step 3:</p>
        </div>


    </div>


    <div id="recommend_input">

        <label for="day_select">Choose a day:</label>
        <select id="day_select">
            <option value="0">Today</option>
            <option value="1">Tomorrow</option>
        </select><br><br>

        <label for="time_select">Choose a time:</label>
        <select id="time_select">
            <option value="0">0:00</option>
            <option value="1">1:00</option>
            <option value="6">6:00</option>
            <option value="7">7:00</option>
            <option value="8">8:00</option>
            <option value="9">9:00</option>
            <option value="10">10:00</option>
            <option value="11">11:00</option>
            <option value="12">12:00</option>
            <option value="13">13:00</option>
            <option value="14">14:00</option>
            <option value="15">15:00</option>
            <option value="16">16:00</option>
            <option value="17">17:00</option>
            <option value="18">18:00</option>
            <option value="19">19:00</option>
            <option value="20">20:00</option>
            <option value="21">21:00</option>
            <option value="22">22:00</option>
            <option value="23">23:00</option>
        </select><br><br>

        <button onclick="">Recommend Route</button>

    </div>


    <div id="map" style="height: 800px"></div>

    </div>

<br><br>





<script>

let map;
let markerArray = [];

function initMap() {

  var directionsService = new google.maps.DirectionsService;
  var directionsRenderer = new google.maps.DirectionsRenderer;

  // fetching the static data
  fetch("/stations").then(response => {
      return response.json();
      }).then(data => {
      console.log("data ", data);

  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: 53.349804, lng: -6.260310 },
    zoom: 13,
    disableDoubleClickZoom: true,
    });
    directionsRenderer.setMap(map);



  // listener for double click on map
  map.addListener("dblclick", (e) => {
    if (markerArray.length == 0) {
      const newMarker = new google.maps.Marker({
        position: e.latLng,
        map: map,
        icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
      });
      // add marker to the marker array
      markerArray.push(newMarker);
    } else if (markerArray.length == 1) {
      const newMarker = new google.maps.Marker({
        position: e.latLng,
        map: map,
        icon: 'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png',
      });
      // add marker to the marker array
      markerArray.push(newMarker);
    } else {
      resetMarkers();
    }
  });


  var onChange = function() {
    displayRoute(directionsService, directionsRenderer);
  };
  document.getElementById("start").addEventListener('change', onChange);
  document.getElementById("dest").addEventListener('change', onChange);

  var stationsList = "";

  // iterating over each station
  data.forEach(station => {
    stationsList += "<option value='" + station.latitude + "," + station.longitude + "'>" + station.address + "</option>";
    });

  // filling in the stations drop downs
  document.getElementById("start").innerHTML = stationsList;
  document.getElementById("dest").innerHTML = stationsList;

  // iterating over each station
  data.forEach(station => {

    // adding the markers
    const marker = new google.maps.Marker({
      position: { lat: parseFloat(station.latitude), lng: parseFloat(station.longitude) },
      map: map,
    });
    });

   });
}


// function to reset start and end markers
function resetMarkers() {
  var numMarkers = markerArray.length;
  if (numMarkers > 0) {
    for (var i=0; i < numMarkers; i++) {
      markerArray[i].setMap(null);
    }
    markerArray = [];

    for (var l=0; l<closestFive.length; l++) {
      closestFive[l].setMap(null);
    }
    for (var g=0; g<firstFive.length; g++) {
      firstFive[g].setMap(null);
    }
  }
}


// function to display the selected route on the map
function displayRoute(directionsService, directionsRenderer) {
    var startPos = document.getElementById("start").value;
    var destPos = document.getElementById("dest").value;

    directionsService.route({
      origin: startPos,
      destination: destPos,
      travelMode: 'BICYCLING'
    }, function(response, status) {
      if (status === 'OK') {
        directionsRenderer.setDirections(response);
      } else {
        window.alert('Oops, ' + status);
      }
    });
}

</script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoy1x8NH5BZFhA86GFgJk7tFyrnPhGbhw&map_ids=ceb62d3e5dc52a3&callback=initMap&libraries=&v=weekly"
      async>
</script>


</body>
</html>