<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bike Curious Route Planner - In Development</title>
</head>
<body>

<h3>Select station:</h3>

<label for="start">Start:</label>
<select id="start"></select>

<label for="dest">Destination:</label>
<select id="dest"></select>

<br><br>

<button id="submitRoute" onclick="displayRoute()">Submit</button>

<p id="placeholder"></p>
<div id="map" style="height: 800px"></div>

<script>

let map;

function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: 53.349804, lng: -6.260310 },
    zoom: 13,
    });
}

var stationsList = "";

// fetching the static data
fetch("/stations").then(response => {
    return response.json();
    }).then(data => {
    console.log("data ", data);

  // iterating over each station
  data.forEach(station => {
    stationsList += "<option value='{lat:" + station.latitude + ", lng:" + station.longitude + "}'>" + station.address + "</option>";
    });

   document.getElementById("start").innerHTML = stationsList;
   document.getElementById("dest").innerHTML = stationsList;

});

function displayRoute() {
    var startPos = document.getElementById("start").value;
    var destPos = document.getElementById("dest").value;

    document.getElementById("placeholder").innerHTML = `Show route between ${startPos} and ${destPos}.`;
    return;
}

</script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoy1x8NH5BZFhA86GFgJk7tFyrnPhGbhw&callback=initMap&libraries=&v=weekly"
      async>
</script>


</body>
</html>